/*Inter font setup*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
    /* This means 1rem = 16px */
}

/*Shared styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-flex {
    display: flex;
}

.section-content-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;

}

.bg-primary {
    background-color: rgb(17, 17, 17);

}

.bg-secondary {
    background-color: rgb(34, 34, 34);
}

.text-align-center {
    text-align: center;
}

.section-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;

}

.section-sub-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

.btn-primary {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
}

.btn-secondary {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: black;
    color: white;

}




/*nav-bar styles*/
.nav {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-items {
    gap: 47px;
}

.nav-item {
    list-style: none;
}

#ham-bar {
    display: none;
    margin-right: 20px;
}

.fa-bars {
    font-size: 30px;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);

    font-size: 1.1rem;
    font-weight: 400;
}

.web-title {
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-style: italic;

}

.nav-link-1 {
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background-color: rgb(230, 83, 60);
    ;
}

.hero-section,
.nav {
    max-width: 1160px;
    margin: 0 auto;
}

/*Hero Section styles*/

.hero-section-title {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;

}

#cursive-text {
    font-family: 'Miama', sans-serif;
    font-size: 7rem;
    font-weight: 400;
}

.hero-section {
    justify-content: space-between;
}

.hero-section-content {
    flex-direction: column;
    gap: 28px;
    width: 50%;


}

.hero-section-image {
    position: relative;

}

.card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    width: 206px;
    height: 96px;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.btn {
    gap: 10px;
}

.card-1 {
    position: absolute;
    left: -113px;
    bottom: 63px;

}

.card-2 {
    position: absolute;
    bottom: 357px;
    left: 254px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 18px solid white;
    border-bottom: 9px solid transparent;
    position: absolute;
    bottom: 102px;
    left: -65px;
    cursor: pointer;
}

.card-title {
    color: rgb(250, 250, 249);
    font-weight: 900;

}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);

}

.card-content {
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#large-card-title {
    font-size: 2.5rem;
}

.imgResponsive {
    width: 100%;
    height: 100%;
}

/* Change your habbit section styles start from here  */
.change-habbit {
    max-width: 1044px;
    margin: 100px auto;
}

.change-habbit-content-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    margin-bottom: 50px;
}

.change-habbit-card-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}

.circle-img {
    border-radius: 50%;
}

.change-habbit-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 231px;
}

.change-habbit-card-layout {
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/* Run extra mile easily section  styles start from here */

.run-section {
    max-width: 1060px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 18px;
    justify-content: space-between;
    gap: 20px;
}

.run-section-content {
    width: 443px;
    flex-direction: column;
    gap: 34px;
    justify-content: center;
}

.run-section-img {
    display: flex;
    justify-content: center;
}

.run-img {
    width: 366px;
    height: 312px;
    border-radius: 18px;

}

/*training and exercise section style start from here*/
.training-exercise-container {
    max-width: 1060px;
    margin: 88px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.training-img-1 {
    grid-area: training-img-1;
    background-image: url(../images/exercise1.jpg);
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;


}

.training-img-2 {
    grid-area: training-img-2;
    background-image: url(../images/exercise2.png);
    background-color: rgba(255, 0, 0, 0.3);
    background-blend-mode: overlay;
}

.training-img-3 {
    grid-area: training-img-3;
    background-image: url(../images/exercise3.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

}

.training-img-4 {
    grid-area: training-img-4;
    background-image: url(../images/exercise4.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.training-img-5 {
    grid-area: training-img-5;
    background-image: url(../images/exercise5.jpg);
    background-color: rgba(66, 255, 0, 0.3);
    background-blend-mode: overlay;
}

.training-img-6 {
    grid-area: training-img-6;
    background-image: url(../images/exercise6.jpg);
    background-color: rgba(0, 71, 255, 0.3);
    background-blend-mode: overlay;
}

.training-img-container {
    display: grid;
    grid-template-areas:
        "training-img-1 training-img-2 training-img-2 training-img-2 training-img-3"
        "training-img-4 training-img-4 training-img-5 training-img-6 training-img-6"
    ;
}

.exercise-card {
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.training-content-text {
    width: 176px;
    color: white;
    margin-top: 150px;
    margin-left: 15px;
}

.training-content-text-4 {
    color: white;
    width: 176px;
    position: relative;
    top: 15px;
    left: 200px;
}

.training-content-text-2 {
    color: white;
    width: 176px;
    position: relative;
    top: 15px;
    left: 15px;
}

#training-content-text-1 {
    color: black;
}

/* BMI calculator section style start from here  */
.bmi-content {
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
}

.table-head {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.bmi-chart {
    width: 50%;
}

.bmi-calculator {
    width: 50%;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
}

table {
    width: 310px;
    height: 216px;
    text-align: center;
}

input,
select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 40px 12px 20px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
}

.form-content-top {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}

.form-content-bottom {
    margin: 10px 0;
    display: grid;
    grid-template-columns: calc(100% + 10px);
}

.bmi-section {
    padding: 50px 0;
    width: 100%;
    background-color: rgb(34, 34, 34);

}

.bmi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 88px;
}

.bmi-content-text {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
}

.bmi-calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bmi-chart {
    flex-direction: column;
    gap: 30px;
}

/*Food section*/
.food-section-content-container {
    padding: 30px;


}

.food-section-content {
    max-width: 1160px;
    height: 565px;
    margin: 0 auto;
    background-color: rgb(17, 17, 17);
    border-radius: 18px;
}

.food-section-img {
    position: relative;
    right: 110px;


}

.food-section-img img {
    width: 400px;
}

.food-card {

    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    width: 200px;
    height: 250px;
    padding: 10px;
    /* box-shadow: 2px 2px 2px rgb(91, 90, 90); */
    position: relative;
    border: 1px solid rgb(70, 69, 69);

}

.food-section-card-layout {

    color: white;
    gap: 17px;
    position: relative;
    right: 105px;
    height: 400px;
    top: 300px;
}
.food-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-card-img img {
    height: 140px;
    width: 140px;
    position: absolute;
    bottom: 170px;

}

.food-text-gap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-mask {
    background-color: rgb(70, 69, 69);
    height: 90px;
    max-width: 160px;
    margin: 0 auto;
    border-radius: 0 0 18px 18px;
    position: relative;
    bottom: 10px;
    box-shadow: 2px 2px rgb(153, 149, 149);
    ;
}

.food-section-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    max-width: 1060px;

}

/* Meet our team section  style start from here  */
.meet-our-team {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.trainer-card-title {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.meet-our-team-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.meet-our-team-card-layout {
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;


}

.meet-out-team-card {
    position: relative;

}

.card-content-container {
    position: absolute;
    bottom: 20px;
    left: 20px;

}

.team-card {
    height: 272px;
    border-radius: 18px;

}

/*Footer*/
hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 20px auto;
}

.footer {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
    padding: 50px;
}

.footer-top {
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 20px;



}

.footer-content-left {
    flex-direction: column;
    width: 40%;


}

.footer-content-right {
    width: 50%;

    justify-content: space-between;
}

.footer-content {

    flex-direction: column;
    gap: 20px;

}

.footer-items {
    flex-direction: column;
    gap: 10px;

}

.footer-item {
    list-style: none;

}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
}

#footer-title {
    font-size: 66px;
}

#copy-right {
    position: relative;
    top: 15px;
}




@media screen and (max-width:576px) {
    /*Header responsive*/

    html {
        font-size: 10px;
    }

    .nav {
        padding: 10px;
    }

    .nav-item {
        display: none;
    }

    .hero-section {
        flex-direction: column;
        padding: 10px;
    }

    .hero-section-content {
        width: 100%;

    }

    .card-1 {
        left: 10px;
    }

    .card-2 {
        left: 160px;
    }

    .section-content-text {
        font-size: 14px;
    }

    #ham-bar {
        display: block;
    }

    /*Change your habits section*/

    .change-habbit-card-layout {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .change-habbit {

        margin: 0px auto;
    }

    /*Run section*/
    .run-section {
        flex-direction: column;
        margin: 50px 20px;

    }

    .run-section-content {
        width: 100%;
        align-items: center;
    }

    .run-img {
        width: 287px;
        height: 170px;
    }

    /*training and exercise*/
    .training-img-container {
        grid-template-areas:
            "training-img-1 training-img-2"
            "training-img-3 training-img-4"
        ;
    }

    .training-img-6,
    .training-img-5 {
        display: none;
    }

    .training-content-text-4 {

        margin-left: -180px;
    }

    /*BMI Content*/

    .bmi-content {
        flex-direction: column;
        padding: 30px;
        gap: 20px;
    }

    .bmi-chart,
    .bmi-calculator,
    table {
        width: 100%
    }

    /*Food*/
    .food-section-content {
        flex-direction: column;
    }

    .food-section-card-layout {
        flex-direction: column;
        height: auto;
        gap: 80px;
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 30px;



        
    }

    .food-section-img {
        position: relative;
         right: 0px; 

    }

    .food-section-content {
        height: auto;
       gap: 80px;
       align-items: center;
       justify-content: center;
    }

    .food-section-img img {
        width: 100%;
    }

    .food-card {
        width: 80%;
        margin: 0 auto;

    }
  

    .food-card-img img {
        height: 150px;
        width: 150px;
        
      
       
    }




    /*Meet our team*/
    .meet-our-team-card-layout {
        grid-template-columns: repeat(1, 1fr);

    }

    /*Footer section*/
    .footer-top {
        flex-direction: column;
    }

    .footer-content-right,
    .footer-content-left {
        width: 100%;
        flex-direction: column;
    }

}